{% extends 'baze.html.twig' %}

{% block body %}
<section id="inner-title" class="inner-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6"><h2>Services</h2></div>
            <div class="col-md-6 col-lg-6">
                <div class="breadcrumbs">
                    <ul>
                        <li>Current Page:</li>
                        <li><a href="https://www.doctohere.com/">Home</a></li>
                        <li><a href="https://www.doctohere.com/Services/">Services</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="section4" class="section-margine">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="section-4-box wow fadeIn">
                    <div class="section-4-box-icon-cont"><i class="fa fa-wheelchair fa-2x"></i></div>
                    <div class="section-4-box-text-cont">
                        <h5>Medical work</h5>
                        <p>Work examination has never been easier, no need to be absent at work</p>
                    </div>
                </div>
                <div class="section-4-box wow fadeIn" data-wow-delay=".1s">
                    <div class="section-4-box-icon-cont"><i class="fa fa-medkit fa-2x"></i></div>
                    <div class="section-4-box-text-cont">
                        <h5>Generalist</h5>
                        <p>For general illness, you can find easily your doctor and make your consultation online</p>
                    </div>
                </div>
                <div class="section-4-box wow fadeIn" data-wow-delay=".2s">
                    <div class="section-4-box-icon-cont"><i class="fa fa-stethoscope fa-2x"></i></div>
                    <div class="section-4-box-text-cont">
                        <h5>Cardiology</h5>
                        <p>With our high quality medical equipments, your doctor can have your diagnostic in realtime</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4"><img src="images/s2.png" class="img-responsive wow zoomIn" alt=""></div>
            <div class="col-md-4 col-lg-4">
                <div class="section-4-box wow fadeIn">
                    <div class="section-4-box-icon-cont"><i class="fa fa-plus-square fa-2x"></i></div>
                    <div class="section-4-box-text-cont">
                        <h5>Dermatology</h5>
                        <p>Using our medical equipments and especially our cameras, your doctor can have a clear idea of your skin illness</p>
                    </div>
                </div>
                <div class="section-4-box wow fadeIn" data-wow-delay=".1s">
                    <div class="section-4-box-icon-cont"><i class="fa fa-heartbeat fa-2x"></i></div>
                    <div class="section-4-box-text-cont">
                        <h5>Pediatry</h5>
                        <p>No more need to wait days and weekes for your children consultation, now you can make an appointment in 3 minutes</p>
                    </div>
                </div>
                <div class="section-4-box wow fadeIn" data-wow-delay=".2s">
                    <div class="section-4-box-icon-cont"><i class="fa fa-wheelchair-alt fa-2x"></i></div>
                    <div class="section-4-box-text-cont">
                        <h5>Elder Services</h5>
                        <p>Renewing a prescription have never been easier for our seniors</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="section22" class="section22">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-7">
                <div class="section-22-box-text-cont">
                    <h2>Safety a priority in our tele-cabin</h2>
                    <h5>Privacy and security, assistance if needed</h5>
                    <p>With your personal code, you can enter to our cabin and proceed to the tele-consultation, safety is our priority</p>
                </div>
            </div>
            <div class="col-md-5 col-lg-5"><div class="section-5-box-text-cont wow fadeInLeft"><img src="../../public/images/s1.jpg" class="img-responsive" alt=""></div></div>
        </div>
    </div>
</section>
<section id="section11" class="section-margine">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-3">
                <div class="section-11-box">
                    <div class="section-11-box-icon-background"><i class="fa fa-medkit fa-2x"></i></div>
                    <h4 class="text-center">General Medicine</h4>
                    <p class="text-center">For starting symptoms, you can proceed to a tele-consultation in few minutes and avoid the worst</p>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="section-11-box">
                    <div class="section-11-box-icon-background"><i class="fa fa-hospital-o fa-2x"></i></div>
                    <h4 class="text-center">Agendas</h4>
                    <p class="text-center">You can manage your own Agenda in your personal profil</p>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="section-11-box">
                    <div class="section-11-box-icon-background"><i class="fa fa-plus-square fa-2x"></i></div>
                    <h4 class="text-center">Home Care</h4>
                    <p class="text-center">If needed, and in case your don't need diagnostics, you can proceed to a tele-consultation in your own home </p>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="section-11-box">
                    <div class="section-11-box-icon-background"><i class="fa fa-wheelchair fa-2x"></i></div>
                    <h4 class="text-center">Access to the disabled</h4>
                    <p class="text-center">Our plateform gives a solution to disabled people, the access to our cabins is our priority</p>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="section-11-box">
                    <div class="section-11-box-icon-background"><i class="fa fa-stethoscope fa-2x"></i></div>
                    <h4 class="text-center">Realtime diagnistic</h4>
                    <p class="text-center">You can use our medical equipments in our tele-cabin and transfer to the doctor exact information </p>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="section-11-box">
                    <div class="section-11-box-icon-background"><i class="fa fa-user-md fa-2x"></i></div>
                    <h4 class="text-center">Qualified doctors</h4>
                    <p class="text-center">You can be in the East of your country and make a tele-consultation with a doctor in the West</p>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="section-11-box">
                    <div class="section-11-box-icon-background"><i class="fa fa-heartbeat fa-2x"></i></div>
                    <h4 class="text-center">Instant  Treatment</h4>
                    <p class="text-center">Our tele-cabin are avalable in your city, your doctor become closer to you</p>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="section-11-box">
                    <div class="section-11-box-icon-background"><i class="fa fa-ambulance fa-2x"></i></div>
                    <h4 class="text-center">Urgent Care</h4>
                    <p class="text-center">Our tele-cabin are connected with the hospitals in your city</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}